# Global terrorism 

This notebook is made to create and provide a comprehensive overview of central sahel region in africa

In [9]:
import numpy as np
import pandas as pd

terrordata = pd.read_csv('../globalterrorism.csv') 
terrordata.head()

/var/folders/3_/mg2b0dz94y74byrczs_3pmg80000gn/T/ipykernel_3810/1501075439.py:4: DtypeWarning: Columns (4,31,33,54,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  terrordata = pd.read_csv('../globalterrorism.csv')

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

* What are the groups targetting in their attacks
* What weapons are more commonly used among these groups 
* What groups are using manufactured weapons, who is supplying them ??? 
* How can we explain the unknown attacks and are there any patterns found based on the attack types and weapons used 
* Can unknown attacks be connected in any way by l;ooking at the attack wapons used and cerrtain locations these attacks have gone through 
* Look at the time series of group attacks and 
   * create a normalized plot of weapons types from this group 
   * see periods when the group was more active 
   * look at groups attack patterns and try and analyze their involvment

## Boko Haram 

Boko haram is an Islamist jihadist organization based in Nigeria, we'll be taking a closer look at the attacks they have been involved with in the Sahel region 2016 ISWAP split of from Boko haram

In [30]:
saleh = terrordata[(terrordata['country_txt'].isin(['Burkina Faso', 'Mali', 'Niger'])) & (terrordata['iyear'].between(2000, 2020))]
boko = saleh[saleh['gname'] == 'Boko Haram'][['iyear', 'imonth','iday', 'attacktype1_txt','targtype1_txt','targsubtype1_txt','corp1','natlty1_txt', 'weaptype1_txt', "weapsubtype1_txt",'weapdetail']]


boko.head()

,iyear,imonth,iday,attacktype1_txt,targtype1_txt,targsubtype1_txt,corp1,natlty1_txt,weaptype1_txt,weapsubtype1_txt,weapdetail
131454,2014,5,6,Armed Assault,Military,Military Unit/Patrol/Convoy,Niger Army,Niger,Firearms,Unknown Gun Type,NaN
144151,2015,2,6,Armed Assault,Private Citizens & Property,Village/City/Town/Suburb,Bosso Town,Niger,Firearms,Unknown Gun Type,NaN
144152,2015,2,6,Armed Assault,Private Citizens & Property,Village/City/Town/Suburb,Diffa Town,Niger,Firearms,Unknown Gun Type,NaN
144234,2015,2,8,Armed Assault,Private Citizens & Property,Village/City/Town/Suburb,Diffa Town,Niger,Firearms,Unknown Gun Type,NaN
144235,2015,2,8,Bombing/Explosion,Private Citizens & Property,Marketplace/Plaza/Square,Unknown,Niger,Explosives,"Projectile (rockets, mortars, RPGs, etc.)",A mortar was used in the attack.

2015 attack increase, let's follow up with a by month plot of that year

On february and April bopko Haram launched offensive on Niger cities Bosso and Diffa

It's possibly worth making a stacked bokeh for this, or just a stacked plot 

### Weapon Types barplot boko 

- common weapong for a specific attack type?


- common weapong for a specific attack type?

### 3 different time series aswell 
* All the different weapon type time series over time